A:Link{
color:#981252;
text-decoration:none;
}
A:Visited{
color:#981252;
text-decoration:none;
}
A:Hover{
color:#D5ABAB;
text-decoration:none;
}
A:Active{
color:#1B0B0B;
text-decoration:none;
}
body {
color:#981252;
background-color:#FFFFF1;
font-family:"Times New Roman";
font-size:16px;
font-weight:bold;
scrollbar-base-color:#981252;
scrollbar-3dlight-color:#981252;
scrollbar-arrow-color:#981252;
scrollbar-darkshadow-color:#C78FAB;
scrollbar-face-color:#D5ABAB;
scrollbar-highlight-color:#FFFFFF;
scrollbar-shadow-color:#C78FAB;
scrollbar-track-color:#FFFFF1;
}
textarea {
  background-color:#FFFFF1;
  color:#981252;
  font-family:"Times New Roman";
  scrollbar-base-color:#981252;
  scrollbar-3dlight-color:#981252;
  scrollbar-arrow-color:#981252;
  scrollbar-darkshadow-color:#C78FAB;
  scrollbar-face-color:#D5ABAB;
  scrollbar-highlight-color:#FFFFFF;
  scrollbar-shadow-color:#C78FAB;
  scrollbar-track-color:#FFFFF1;
}

div {
font-size:10px;
font-family:"Times New Roman";
}
h1 {
font-size:28px;
font-family:"Lucida Calligraphy";
}
h2 {
font-size:24px;
font-family:"Lucida Calligraphy";
}
h3 {
font-size:18px;
font-family:"Lucida Calligraphy";
}
h4 {
font-size:14px;
font-family:"Lucida Calligraphy";
}
h5 {
font-size:12px;
font-family:"Lucida Calligraphy";
}
li {
font-family:"Times New Roman";
font-size:16px;
Margin-left:5px;
list-style-type:disc;
}
li li {
font-family:"Times New Roman";
font-size:14px;
Margin-left:20px;
list-style-type:none;
}
ul {
Margin-left:0px;
}
